.Footer {
    background-color: var(--primary-green);
    color: var(--light);
    min-height: min-content;
    width: 100vw;
}

.Footer-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 0;
}

.Footer-link, .Footer li {
    list-style: none;
    margin-bottom: 0.5rem;
}

.Footer-contact li {
    margin-bottom: 1rem;
}

.Footer-logo {
    width: 7.5rem;
    margin: 0 auto;
}

.Footer-section {
    min-width: 16ch;
    justify-content: top;
    align-self: flex-start;
    padding: 2rem 0;

}

.Footer-heading {
    font-family: var(--markazi);
    font-size: 1.5rem;
    color: var(--primary-yellow);
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.Footer-link {
    color: var(--light);
    text-decoration: none;
}

.Footer-link:visited {
    color: var(--secondary-peach);
}

.Footer-link:hover {
    color: var(--secondary-orange);
}

.Footer-link:focus {
    color: var(--secondary-orange);
    /* outline: 1px solid var(--primary-yellow); */
}

.Footer-link:active {
    color: var(--primary-yellow);
}