/* Testimonials */

.Testimonials {
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.Testimonials-title {
    margin: 0rem;
    margin-bottom: 4rem;
    font-size: 2.5rem;
}

.Testimonial {
    background-color: white;
    border-radius: 1rem;
    min-width: 8rem;
    max-width: 10rem;
    height: 12rem;
    padding: 1rem;
    color: var(--dark);
    text-align: center;

}

.Testimonial-user {
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    gap: 0;
}

.Testimonial-avatar {
    min-width: 30px;
    justify-self: start;
}

.Testimonial-name {
    font-size: 1rem;
    margin: 0;
    margin-left: auto;
}

.Testimonial-quote {
    position: relative;
    margin: 0;
    padding-top: 0.5rem;
    text-align: start;
    font-size: 0.75rem;
    font-family: var(--karla);
    font-weight: 500;
}

.Testimonial-quote::before {
    content: '"';
    color: var(--dark);
    position: absolute;
    font-size: 5rem;
    font-family: var(--markazi);
    top: -1.5rem;
    left: -0.5rem;
    opacity: 25%;
}

.Testimonials-container {
    width: calc(100% - 4rem);
    max-width: var(--max-width);
    overflow-x: scroll;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;

    padding: 0 2rem;
}

@media screen and (max-width: 1055px) { 
    .Specials-header {
        padding: 0 2rem;
    }
}

@media screen and (max-width: 700px) { 
    .Testimonials-container {
        justify-content: left;
        /* margin: 0; */
        padding: 0;
        gap: 1rem;
    }
}