:root {
  --primary-green: #495E57;
  --primary-yellow: #F4CE14;
  --secondary-orange: #EE9972;
  --secondary-peach: #FBDABB;
  --light: #EDEFEE;
  --dark: #333333;
  --karla: 'Karla', sans-serif;
  --markazi: 'Markazi Text', serif;
}

* {
  margin: 0;
  padding: 0;
}

@import './styles/testimonials.css';
@import './styles/about.css';
@import './styles/footer.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 100vw;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-dark {
  background-color: var(--dark);
  color: var(--light);
}

.h-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.v-flex {
  display: flex;
  flex-direction: column;
}

.gap {
  gap: 2rem;
}

.center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}



.left {
  align-items: start;
  text-align: left;
}

.title {
  font-family: var(--markazi);
  font-size: 64px;
  font-weight: 400;
  margin-bottom: 0.75rem;
  line-height: 0;
}

.subtitle {
  font-family: var(--markazi);
  font-size: 40px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 2rem;
}