:root {
  --primary-green: #495E57;
  --primary-yellow: #F4CE14;
  --secondary-orange: #EE9972;
  --secondary-peach: #FBDABB;
  --warning: red;
  --light: #EDEFEE;
  --dark: #333333;
  --karla: 'Karla', sans-serif;
  --markazi: 'Markazi Text', serif;
}

* {
  margin: 0;
  padding: 0;
}

@import './styles/nav.css';
@import './styles/banner.css';
@import './styles/specials.css';
@import './styles/menu-item.css';
@import './styles/testimonials.css';
@import './styles/about.css';
@import './styles/footer.css';

figure {
  object-fit: contain;
  max-width: 50vw;
  overflow: hidden;
}



.FormControl, .Form-element {
  text-align: left;
  justify-content: left;
  width: 100%;
  /* background-color: #495E57; */
  margin: 2rem 0;

}

.Form-input-error {
  border-color: var(--warning);
  border-width: 2px;
}
.Form-label-error {
  color: var(--warning);
}

.container {
  width: 100vw;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contents {
  max-width: 1200px;
  margin: 0 auto;
}

.container-dark {
  background-color: var(--dark);
  color: var(--light);
}

.h-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.wrap {
  flex-wrap: wrap;
}

.v-flex {
  display: flex;
  flex-direction: column;
}

.gap {
  gap: 2rem;
}

.center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}



.left {
  align-items: start;
  text-align: left;
}

.title {
  font-family: var(--markazi);
  font-size: 64px;
  font-weight: 400;
  margin-bottom: 0.75rem;
  line-height: 0;
}

.subtitle {
  font-family: var(--markazi);
  font-size: 40px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 2rem;
}